<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
    <select id="selectAll" resultType="com.example.demo.pojo.User">
        select user_id,user_name,user_password from demo.user_info
    </select>
    <select id="selectByName" resultType="com.example.demo.pojo.User">
        select user_id,user_name,user_password from demo.user_info where user_name = #{user_name}
    </select>
    <insert id="insert" parameterType="com.example.demo.pojo.User" useGeneratedKeys="true" keyProperty="user_id">
        insert into demo.user_info(user_name,user_password) values (#{user_name},#{user_password})
    </insert>

</mapper>
