<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
    <!-- resultType需要保证数据和POJO类一致，否则无法满足ORM，导致部分数据无法显示 -->
    <select id="selectAll" resultType="com.example.demo.pojo.User">
        select user_id, user_name, user_password, create_time, update_time
        from demo.user
        where isDeleted = 0;
    </select>
    <!-- resultType 可以使用一个新的展示类(仅包含部分实体类中的字段)而非实体类来保证前端展示信息不包含敏感信息 -->
    <select id="selectByName" resultType="com.example.demo.pojo.User">
        select user_id, user_name, user_password, create_time, update_time
        from demo.user
        where user_name = #{user_name}
          and isDeleted = 0;
    </select>

    <!-- sql 拼接条件,if,trim标签 -->
    <!--  <![CDATA[ 需要解释器忽略的语句或是符号 ]]>  -->
    <select id="getUsertList_if_trim" resultType="com.example.demo.pojo.User">
        SELECT *
        FROM user u
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="username !=null ">
                u.username LIKE CONCAT(CONCAT('%', #{username, jdbcType=VARCHAR}),'%')
            </if>
            <if test="sex != null and sex != '' ">
                AND u.sex = #{sex, jdbcType=INTEGER}
            </if>
            <if test="birthday != null ">
                AND u.birthday = #{birthday, jdbcType=DATE}
            </if>
        </trim>
    </select>
    <insert id="insert" parameterType="com.example.demo.pojo.User" useGeneratedKeys="true" keyProperty="user_id">
        insert into demo.user(user_name, user_password, now(), now())
        values (#{user_name}, #{user_password},#{create_time},#{update_time});
    </insert>
    <update id="delete" parameterType="com.example.demo.pojo.User">
        update demo.user
        set isDeleted   = 1,
            update_time = now()
        where user_name = #{user_name}
          and user_password = #{user_password};
    </update>
</mapper>
